* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Dosis", sans-serif;
    margin: 0;
    background-color: #333;
    color: white;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(67, 90, 89, 0.2),
            rgba(98, 118, 125, 0.5)
        ),
        url('../images/image.jpg') center no-repeat; /* Background image for the theme */
    background-size: cover;
}

.menu {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2em;
    border-radius: 12px;
    text-align: center;
    width: 60%;
    max-width: 600px;
}

h1 {
    font-size: 3em;
    margin-bottom: 1em;
    color: #ffcc00;
}

p {
    font-size: 1.5em;
    margin-bottom: 2em;
    color: #fff;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1em;
}

button {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffcc00;
    color: #000;
}
